.hero {
  width: 100%;
  min-height: 414px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 80px;

  background-color: var(--color-black);

  padding: 50px 48px;
  box-sizing: border-box;
}

.hero > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h1 {
  margin: 0;

  color: white;

  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
}

.hero img {
  width: 260px;
  height: auto;
  object-fit: contain;
}